.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 5px;
    padding: 20px;
}

button {
    padding: 10px;
    background-color: #FFFFFF!important;
    border:none;
    border-top: 1px solid;
    border-bottom: 1px solid;
    cursor: pointer;
}