<h2>{{changeNotification}}</h2>
<div class="container">
    <form [formGroup]="bookingFormGroup">
        <div [formGroup]="periodGroup">
            <app-date-picker dateLabel="Started at" formControlName="startedAt" [filter]="dateFilter"></app-date-picker>
            <app-date-picker dateLabel="Ended at" formControlName="endedAt" [filter]="dateFilter"></app-date-picker>
        </div>
        <div class="row">
            <app-multi-select 
            label="Resources" 
            [options]="resourceNormalizedList"
            formControlName="resourceIds"
            >
            </app-multi-select>
            <mat-spinner *ngIf="isResourceLoading" [diameter]="50"></mat-spinner>
        </div>
    </form>
    <div *ngIf="bookingFormGroup.valid">
        <p>Total price: {{totalPrice | currency}}</p>
    </div>

    <div class="row">
        <button mat-stroked-button (click)="onCancelBooking()">Cancel</button>
        <button *ngIf="currentBooking?.bookingId" mat-raised-button color="primary" (click)="clearBooking()">New</button>
        <button *ngIf="bookingFormGroup.valid" mat-raised-button color="primary" (click)="toPayment()">Proceed to payment</button>
    </div>
</div>
