<mat-spinner *ngIf="isLoading"></mat-spinner>
<div class="container">
  <div *ngFor="let booking of bookings; let i = index" class="booking-card">
    <div class="booking-header">
      <div class="booking-id">
        Booking {{ booking.bookingNumber }}
      </div>

      @if(!booking.isPastBooking){
      <div class="booking-actions">
        @if(booking?.modificationStatus!=='MODIFY_PENDING'){
          <button mat-icon-button (click)="modifyBooking(booking)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button (click)="cancelBooking(booking.bookingId)">
            <mat-icon>close</mat-icon>
          </button>
        }
        @else{
          <button mat-icon-button (click)="trackRefund(booking.bookingId)">
            <mat-icon>track_changes</mat-icon>
          </button>
        }
      </div>
      }
    </div>
    <div class="booking-body">
      <div class="booking-row resources-block">
        <mat-icon>inventory_2</mat-icon>

        <div class="resources-list">
          @for (resource of booking.resources; track resource.resourceId){
          <div>
            {{ resource.resourceName }}
          </div>
        }
        </div>
      </div>
      <div class="booking-row">
        <mat-icon>event_available</mat-icon>
        {{ booking.startedAt | date: 'MMM d, HH:mm'}} → {{ booking.endedAt | date: 'MMM d, HH:mm'}}
      </div>
      <div class="booking-row">
        <mat-icon>money</mat-icon>
        <span class="booking-price">{{ booking.totalPrice | currency }}</span>
      </div>
      <div class="booking-row">
        <mat-icon>schedule</mat-icon>
        created on {{ booking.createdAt | date: 'MMM d, HH:mm' }}
      </div>
    </div>
  </div>
</div>

<p>{{message}}</p>