<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngFor="let booking of bookings; let i = index" class="booking-card">
  <mat-card-title>
    <span>Booking {{ booking.bookingNumber }}</span>
    <mat-icon *ngIf="!booking.isPastBooking && (booking?.modificationStatus==='NONE'||booking?.modificationStatus==='MODIFY_FAILED')" (click)="cancelBooking(booking.bookingId)">unsubscribe</mat-icon>
    <mat-icon *ngIf="!booking.isPastBooking && (booking?.modificationStatus==='NONE'||booking?.modificationStatus==='MODIFY_FAILED')" (click)="modifyBooking(booking)">edit</mat-icon>
    <mat-icon *ngIf="!booking.isPastBooking && booking?.modificationStatus==='MODIFY_PENDING'" (click)="trackRefund(booking.bookingId)">track_changes</mat-icon>
    <mat-icon *ngIf="!booking.isPastBooking && booking?.modificationStatus==='MODIFIED'" matTooltip="Booking modified" matTooltipPosition="above">check_circle</mat-icon>
  </mat-card-title>

  <mat-card-content>
    <div class="resources">
      <div *ngFor="let resource of booking.resources">
        {{ resource.resourceName }}
      </div>
    </div>

    <div class="dates">
      from {{ booking.startedAt | date:'dd/MM/yyyy HH:mm' }} to {{ booking.endedAt| date:'dd/MM/yyyy HH:mm' }}
    </div>
    <div>
      with price: {{booking.totalPrice | currency}}
    </div>
  </mat-card-content>
</mat-card>
<p>{{message}}</p>