<h2>Select Payment Method</h2>
<app-radio-button
    [options]="paymentMethods"
    [formControl] = "selectedMethod"
></app-radio-button>

<div [hidden]="!selectedMethod.value || selectedMethod.value === 'Paypal'">
    <div id="card-number-container">
    <label>Card Number</label>
    <div id="card-number"></div>
  </div>

  <div id="card-expiry-container">
    <label>Expiry</label>
    <div id="card-expiry"></div>
  </div>

  <div id="card-cvc-container">
    <label>CVC</label>
    <div id="card-cvc"></div>
  </div>
  <button type="submit" (click)="pay()">Pay</button>
    <!-- <div>
        <label>Card number: </label>
        <app-input
            type="text"
            formControlName="cardNumber"
        ></app-input>
    </div>
    <div>
        <label>Expires on: </label>
        <app-input
            type="month"
            formControlName="expiredDate"
        ></app-input>
    </div>
    <div>
        <label>CVV: </label>
        <app-input
            type="text"
            formControlName="cvv"
        ></app-input>
    </div>
    <div>
        <label>Name on card: </label>
        <app-input
            type="text"
            formControlName="accountHolder"
        ></app-input>
    </div> -->
</div>

