<h2>Select Payment Method</h2>
<app-radio-button
    [options]="paymentBrands"
    [formControl] = "selectedBrand"
></app-radio-button>

<div [hidden]="!selectedBrand.value || selectedBrand.value === 'Paypal'">
    <div id="card-number-container">
    <label>Card Number</label>
    <div id="card-number"></div>
  </div>

  <div id="card-expiry-container">
    <label>Expiry</label>
    <div id="card-expiry"></div>
  </div>

  <div id="card-cvc-container">
    <label>CVC</label>
    <div id="card-cvc"></div>
  </div>
  <p>{{cardWarningMessage}}</p>
  <button mat-raised-button color="primary" (click)="pay()">Pay</button>
  <p class="error">{{cardNumberError}}</p>
  <p class="error">{{cardExpiryError}}</p>
  <p class="error">{{failPaymentmessage}}</p>
</div>

