<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-card *ngFor="let booking of bookings; let i = index" class="booking-card">
  <mat-card-title>
    <span>Booking {{ booking.bookingNumber }}</span>
    <mat-icon (click)="cancelBooking(booking.bookingId)">unsubscribe</mat-icon>
    <mat-icon (click)="modifyBooking(booking)">edit</mat-icon>
  </mat-card-title>

  <mat-card-content>
    <div class="resources">
      @for (resource of booking.resources; track resource.resourceId){
        <div>
          {{ resource.resourceName }}
        </div>
      }
    </div>

    <div class="dates">
      from {{ booking.startedAt | date:'dd/MM/yyyy HH:mm' }} to {{ booking.endedAt| date:'dd/MM/yyyy HH:mm' }}
    </div>
    <div>
      with price: {{booking.totalPrice | currency}}
    </div>
  </mat-card-content>
</mat-card>
<p>{{message}}</p>