<div class="row">
    <mat-form-field class="date-picker" appearance="outline">
        <mat-label>{{ dateLabel }}</mat-label>
        <input
            matInput
            [matDatepicker]="datepicker"
            [matDatepickerFilter]="filter"
            [value]="dateValue"
            (dateChange)="onDateChange($event.value)"
            [disabled]="disabled"
        />
        <mat-datepicker #datepicker/>
        <mat-datepicker-toggle [for]="datepicker" matSuffix/>
        <mat-hint align="start" class="input-error">{{error}}</mat-hint>
    </mat-form-field>
    <mat-form-field class="time-picker" appearance="outline">
        <mat-label>{{ timeLabel }}</mat-label>
        <input matInput
            matTimepickerInput
            [matTimepicker]="timepicker"
            [value]="timeValue"
        >
        <mat-timepicker #timepicker  (selected)="onTimeSelected($event)"/>
        <mat-timepicker-toggle [for]="timepicker" matSuffix/>
    </mat-form-field>
</div>